html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../img/geometry2.png");

}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*Score-keeper css*/
h1 {
	text-align: center;
}

.score-keeper {
	width: 570px;
	display: inline-flex;
	justify-content: space-between;
}

.star-rating, .memory-game-grid {
	list-style: none;
	display: inline-block;
}


.star-rating li {
	display: inline-block;
}

.restart {
	display: inline-block;
}

.move-counter {
	margin-left: 4px;
}
/*Grid Css*/
.memory-game-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	align-content: space-evenly;
    background: blue;
	width: 650px;
	min-height: 680px;
	border-radius: 10px;
}

.game-grid-icons {
	width: 135px;
	height: 140px;
	background: red;
	text-align: center;
	border-radius: 10px;
}

.awesome-icon {
	height: 100%;
	vertical-align: middle;
}




