/* with help from the starter zip folder provided to us from udacity*/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../img/geometry2.png");

}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

/*Score-keeper css*/
h1 {
	text-align: center;
	margin: 0;
}

.score-keeper {
	width: 570px;
	display: inline-flex;
	justify-content: space-between;
}

.star-rating, .memory-game-grid {
	list-style: none;
	display: inline-block;
}


.star-rating li {
	display: inline-block;
}

.restart {
	display: inline-block;
}

.move-counter {
	margin-left: 4px;
}
/*Grid Css*/
.memory-game-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	align-content: space-evenly;
    background: linear-gradient(to bottom, #33ccff 0%, #ff9966 100%);
	width: 650px;
	min-height: 670px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	color: #ffebee;
}

.game-grid-icons {
	font-size: 36px;
	width: 135px;
	height: 130px;
	background: #ef5350;
	text-align: center;
	border-radius: 10px;
	box-shadow: 8px 5px 20px 0 rgba(46, 61, 73, 0.7);

}

.awesome-icon {
	height: 100%;
	vertical-align: middle;
}




