/* with help from the starter zip folder provided to us from udacity*/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../img/geometry2.png");
	font-family: 'Exo', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2.5%;
	width: 100%;
	height: 100%;
}

.game-title {
	width: 600px;
}

/*Score-keeper css*/
h1 {
	text-align: center;
	font-weight: normal;
	margin: 0;
	font-size: 36px;
}

.score-keeper {
	width: 510px;
	display: inline-flex;
	justify-content: space-between;
	margin-top: 2.5%;
	padding: 0;
}

.star-rating, .memory-game-grid {
	list-style: none;
	display: inline-block;
	padding: 0;
}


.star-rating li {
	display: inline-block;
}


.play {
	font-size: 28px;
	height: 100%;
	vertical-align: middle;
}

.restart {
	display: none;
	font-size: 20px;
	height: 100%;
	vertical-align: middle;

}

.move-counter {
	margin-left: 4px;
}

.timer {
	align-self: center;
}


/*Grid Css*/
/* Card Flip Transition Learnt from http://activelab.io/tutorials/create-a-css-card-flip-effect-on-hover*/
.memory-game-grid {
	font-size: 36px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	align-content: space-evenly;
    background: linear-gradient(to bottom, #33ccff 0%, #ff9966 100%);
	width: 600px;
	height: 70%;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	color: #ffebee;
	-webkit-perspective: 800;
	perspective: 800;
	position: relative;

}

.game-grid-icons {
	width: 21%;
	height: 22%;
	background: #64b5f6;
	text-align: center;
	border-radius: 10px;
	box-shadow: 8px 5px 20px 0 rgba(46, 61, 73, 0.7);
	position: relative;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: transform 0.8s, background 1.5s;
	position: relative;
	cursor: pointer;
}

.icon-face {
	-webkit-transform: rotateY(180deg);
    transform: rotateY( 180deg );
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.show-card {
	transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
}

.awesome-icon {
	height: 100%;
	width: 100%;
	vertical-align: middle;
}

/*matching pulse animation from https://codepen.io/Jtwa/pen/dYvLpN*/
.match-card {
	background: #ef5350;
	transition: background 1s ease-in;
}

/*pop up for end game from https://www.w3schools.com/howto/howto_css_modals.asp*/
.finish-popup {
	display: none;  /*Hidden by default*/
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*TODO add background color to modal*/

.popup-content {
	display: flex;
	flex-direction: column;
	position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 550px;
    width: 70%;
    height: 60%;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    justify-content: space-evenly;
    text-align: center;
    animation: animate-popup 0.5s ease-in;
    font-size: 20px;
}

@keyframes animate-popup {
	from { top:-300px; opacity: 0;}
	to {top:0; opacity: 1;}
}

.end-details {
	width:70%;
	align-self: center;
}

.star-hide {
	animation:  staranimationoff 1s ease-in;
	animation-fill-mode: forwards;
}

@keyframes staranimationoff {
	from { opacity: 1; }
	to {opacity: 0;}
}

.star1, .star2, .star3 {
	opacity: 1;
}

@media screen and (max-width: 750px) {
	.memory-game-grid, .game-title {
		width: 80%;
		font-size: 34px;

	}
	.score-keeper {
		width: 68%;
	}

	.memory-game-grid {
		height: 65%;
	}

	.popup-content {
		font-size: 19px;
	}
}

@media screen and (max-width: 700px) {
	.play {
		font-size: 24px;
	}

	.memory-game-grid {
		font-size: 32px;
		height: 60%;
	}

	.restart {
		font-size: 16px;
	}

	.score-keeper {
		font-size: 14px;
	}

	h1 {
		font-size: 35px;
	}

	.popup-content {
		font-size: 18px;
	}
}

@media screen and (max-width: 650px) {
	.popup-content {
		height: 65%;
		min-width: 350px;
	}

	.memory-game-grid {
		height: 55%;
		font-size: 29px;
	}

	.score-keeper {
		font-size: 12px;
	}

	h1 {
		font-size: 33px;
	}

	.popup-content {
		font-size: 17px;
	}

}

@media screen and (max-width: 600px) {
	.popup-content {
		height: 60%;
		min-width: 350px;
		font-size: 15px;
	}

	.memory-game-grid {
		height: 50%;
		font-size: 26px;
	}

	h1 {
		font-size: 31px;
	}

}

@media screen and (max-width: 500px) {

	.memory-game-grid {
		font-size: 23px;
		height: 45%;
	}

	.score-keeper {
		font-size: 11px;
	}

	h1 {
		font-size: 29px;
	}

	.popup-content {
		font-size: 13px;
	}
}

@media screen and (max-width: 460px) {
	h1 {
		font-size: 28px;
	}

	.memory-game-grid {
		height: 40%;
		font-size: 20px;
	}

	.popup-content {
		font-size: 12px;
	}

}












